/*media*/

.vid {
  text-align: center;
  margin: auto;
}
video {
  width: 100%;
  height: auto;
  max-width: 80rem;
}

img {
	display: block;
  width:100%;
  max-width: 25rem;
  height:auto;
  margin:auto;
  padding-top:2em;
}

/*headers*/
header img {
	overflow: auto;
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 20rem
}

h1 {
	color: #fff;
  font-weight: bolder;
	display: inline;
	margin-left: 0
  font-family: "Open Sans", Times, serif;
}

h3,h4,h5,h6{
  font-weight: bolder;
  font-family: "Quicksand", Times, serif;
}

h4 {
  color: #1B5D88;
  font-family: "Quicksand", Times, serif;
}

header {
	position: fixed;
	width: 100%;
	height: 150px;
  top: 0;
  left:0;
  right:0;
	background-color: #479fda;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	flex: none
}

/*links*/
.menu{
  text-align: center;
  background-color: lightgrey;
  list-style-type: none;
  font-family: "Open Sans", Times, serif;
}

.menu__item {
	display: inline-block;
  color: #444;
  padding: 1em;
  margin:.5em;
  font-size:large;
  text-decoration: underline
}

.menu__item:focus,
.menu__item:hover{
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  margin:.5em;
}

p a, li a {
  margin-left: 0;
  padding-left:0;
  margin-right: 0;
  padding-right:0;
  text-decoration: underline;
}

p a:hover{
 text-decoration: none;
}
/*containers*/

[class*="col-4"] {
	float: left;
  position: relative;
	text-align: left;
	width: 32%;
  padding-left:1em;
  padding-right:1em;
}

[class*="col-6"] {
	float: left;
  position: relative;
	text-align: left;
	width: 49%;
  padding-left:1em;
  padding-right:1em;
}

/*.col-6::first-line {
	color: #1B5D88;
	font-weight: bolder;
}*/
/*.inst p::first-letter{color: blue;}*/


@media (max-width:830px) {
   header h1  {
    display: none;
  }
  .menu__item {
  	display: block;
  }
  [class*="col-4"]  {
   width: 100%;
 }
 [class*="col-6"]  {
  width: 100%;
}
}

@media (min-width:831px) {
   header img  {
    display: none;
  }
}


/*main*/

body {
  font-family: "Quicksand", Times, serif;
	background-color: #fff;
	margin-top: 150px;
  height: auto;
  position: relative;
}


.sr-only {
	position: absolute;
	left: -100000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}

#main-content{
  margin:2em;
}

p{
  text-indent: 5%;
}

aside {
	display: inline;
	color: #fff;
	text-align: right;
}
